.section-root {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.section-inner {
  padding: 24px 0;
}

#areas {
  padding-top: 80px;
}

#contacto {
  padding-top: 60px;
}

#somos {
  padding-top: 20px;
}

#contacto {
  padding-bottom: 80px;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.snap-parent {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-section {
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.footer-section {
  min-height: auto;
  scroll-snap-align: end;
  background-color: #0c0c0c;
}

.snap-section > *:first-child {
  margin-block-start: 0;
}

@media (max-width: 600px) {
  #areas,
  #blog,
  #valores,
  #desafio,
  #contacto {
    padding-top: 90px;
  }
}
